<p> 前往付款頁面，請勿關閉或重整頁面 </p>

<form action = "https://api.pay2go.com/MPG/mpg_gateway", method="post">
  <% generate_pay2go_params(@payment).each do |key, value| %>
  <%= hidden_field_tag key, value %>
<% end %>

<input type = "submit" style = visibility:hidden>
</form>

<script>document.forms[0].submit()</script>