<div id="about-page">
  <div class="container">
    <p>主旨：感謝您支持 不忙按摩!!</p>

    <p>--</p>

    <p>您好，</p>

    <p>
      歡迎您加入「不忙按摩」的行列。</br>
      我們關心您和您的團隊的健康，希望透過最簡單的方式，讓專業的按摩師傅能夠到您的公司為您的團隊服務，您只需要準備適合的空間(小會議室或3x3m<sup>2</sup>左右的大小)，並告訴我們想邀請的按摩師人數，其他事情，我們都會幫您準備好。</br>
      在您的團隊享受按摩的同時，我們會用照片記錄下這個美好的時光，並且在按摩之後簡單聊聊這個新奇的體驗，相關的文字和圖片會再彙整提供給您，作為公司形象曝光的素材以及員工內部的小小溫馨回憶，附件檔案室我們幫其他公司做的小記錄，提供給您參考。</br>
      我們的計費方式很簡單，每個按摩師出勤以三小時為一個單位，一位按摩師2,760元，再加上按摩師的交通費補貼，以台北市來說的話，大約是3,060元左右。</br>
      我們的系統還在建置中，預計在一個月左右就能上線，為了感謝您的支持，我們將贈送您100元的折價優惠，希望在不久的將來，能夠有機會為您服務。</br>
      如有任何問題，也歡迎您再與我們聯絡。</br>
      謝謝！
    </p>

    <br />

    <p>祝 一切順心</p>

    <p>Jade</br>
       不忙按摩 CEO</p>

  </div>
</div>