<div id="evaluation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h2>各方評價</h2>

        <div class="customerssay">
          <div class="col-sm-6">
            <h3>2016.04.25 ALPHA Camp</h3>
            <%= image_tag("picture-composed.png", size: "377x371") %>
          </div>

          <div class="col-sm-6">
            <p>今天不忙按摩來到新創人才的搖籃 Alphacamp 來幫這些經世濟民的熱血工程師們好好放鬆一下!! </br>
               一把扛起改變世界夢想的肩膀，果然是相當"堅硬"的啊
            </p>

            <%= link_to "ALPHA Camp 官方網站", "https://www.alphacamp.co/" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


