#about-page {
  margin: 0;
  margin-top: 71px;
  margin-bottom: 99px;
  margin-left: 30.14%;
  width: 568px;
  height: 600px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

#about-page .container {
  width: 100%;
  height: 100%;
  padding: 15px;
  position: relative;
  z-index: 0;
}

#about-page p {
  font-family: PingFangTC;
  font-size: 14px;
  color: #635146;
  line-height: 24px;
  text-align: left;
}