
/* Body */

body {
  background-color: #fafafa;
}


/* flow chart */

#flow-chart img {
  width: 47%;
  height: auto;
  margin-left: 25%;
  margin-top: 0px;
  margin-bottom: 4%;
}

@media (min-width: 319px) and (max-width: 767px) {
  #flow-chart img {
    width: 80%;
    margin-left: 10%;
  }
}


/* booking box */

#booking {
  margin: 0 auto;
  width: 79%;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

#booking .container-fluid {
  width: 100%;
}

#booking .col-xs-12 {
  width: 100%;
}

#booking .demand p {
  width: 100%;
  height: 2em;
  font-family: PingFangTC-Medium;
  font-size: 2em;
  color:#635146;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
}


#booking .choice {
  width: 100%;
  height: 33em;
  margin-left: 7%;
}

/* col-sm-6 left-side */

.col-sm-6 h4 {
  font-family:PingFangTC-Medium;
  font-size: 1.4em;
  color:#f99595;
  text-align:left;
}

.date > h4 {
  width: 77%;
}

#datepicker {
  border: 1px solid #979797;
  width: 78%;
  background:#ffffff;
}

#booking_date {
  display: none;
}

.datepicker.datepicker-inline {
  width: 100%;
}

table.table-condensed {
  width: 100%;
  height: 21em;
  border-width: 2px;
}

.col-sm-6 > .time {
  margin-top: 4.8%;
}

.col-sm-6 span {
  font-family: PingFangTC-Regular;
  font-size: 1.15em;
  color:#444444;
  line-height: 1.9em;
  text-align: left;
}


/* col-sm-6 right-side */

.people {
  display: inline;
}

.people p {
  font-family:PingFangTC-Regular;
  font-size: 1.15em;
  color:#635146;
  line-height: 1.5em;
  text-align:left;
  float: left;
}

.people select {
  margin-left: 3%;
}

.paid_masseur {
  margin-top: 6.5%;
}

.paid_masseur p {
  font-family:PingFangTC-Regular;
  font-size: 1.15em;
  color:#635146;
  line-height: 1.5em;
  text-align:left;
  float: left;
}

.paid_masseur input {
  margin-left: 8%;
  border: 0;
  width: 11.6%;
}

.paid_car {
  margin-top: 6.5%;
}

.paid_car p {
  font-family:PingFangTC-Regular;
  font-size: 1.15em;
  color:#635146;
  line-height: 1.5em;
  text-align:left;
  float: left;
}

.paid_car input {
  margin-left: 11.6%;
  border: 0;
  width: 11.6%;
}

#booking hr {
  width: 90%;
  margin: 4.7% 0;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.booking_fee p {
  font-family: PingFangTC-Regular;
  font-size: 1.15em;
  color: #635146;
  line-height: 1.6em;
  text-align: left;
  float: left;
}

.booking_fee input {
  margin-left: 11.6%;
  border: 0;
  width: 11.6%;
}


/* Suggestion */

.suggestion h4 {
  font-family: PingFangTC-Medium;
  font-size: 1.43em;
  color: #f99595;
  text-align: left;
  margin-top: 18%;
}

.suggestion p {
  font-family: PingFangTC-Regular;
  font-size: 1.14em;
  color: #635146;
  line-height: 1.6em;
  text-align: left;
  width: 95%;
}

#booking_fee {
  display: none;
}


/* Next step */

#booking .pull-right {
  float: left !important;
  margin-top: 3%;
  margin-bottom: 40%;
}

#booking .pull-right input {
  color: #ffffff;
  background: #f26565;
  display: inline-block;
  border-radius: 6px;
  padding: .5em 3em;
  border-style: none;
  font-size: 1.43em;
  text-align: center;
}

@media (max-width: 420px) {
  #booking .choice {
    margin: 0 auto;
    margin-left: -3%;
  }
  #booking #datepicker {
    width: 106%;
  }

  #booking .paid_masseur {
    float: left;
  }

  #booking input.masseur {
    width: 20%;
  }

  #booking .paid_car {
    float: left;
  }

  #booking input.car {
    width: 20%;
    margin-left: 16%;
  }

  #booking input#booking_show_fee {
    width: 20%;
    margin-left: 16%;
  }
}



