#booking_record {
  width: 100vw;
  height: 1092px;
}

#booking_record .container-fluid {
  width: 78%;
  height: 92%;
  position: relative;
}

#booking_record h2 {
  font-family:PingFangTC-Medium;
  font-size:28px;
  color:#635146;
  text-align:center;
  margin-top: 79px;
  margin-bottom: 40px;
}

#booking_record .serviced-record {
  margin-top: 40px;
}

#booking_record h3 {
  font-family:PingFangTC-Medium;
  font-size:20px;
  color:#f99595;
  text-align:left;
}

#booking_record thead {
  background: #f99595;
  width:969px;
  height:48px;
}

#booking_record thead td {
  font-family:PingFangTC;
  font-size:18px;
  color:#ffffff;
  text-align:left;
}

.table-hover thead td:first-child {
  border-top-left-radius: 10px;
}

.table-hover thead td:last-child {
  border-top-right-radius: 10px;
}

#booking_record tbody {
  font-family:PingFangTC;
  font-size:18px;
  color:#4e3629;
  text-align:left;
  border: 1px solid #ddd;
}

#booking_record tbody td.order-number {
  font-family:PingFangTC;
  font-size: 18px;
  color: #f26565;
  text-align: left;
  text-decoration: underline;
}



/*#booking_record tbody td.order-masseur {
  text-align: center;
}

#booking_record tbody td.order-fee {
  text-align: right;
  width: 95px;
}*/









