#booking_show {
  margin: 0 auto;
  width: 68%;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

@media (min-width: 319px) and (max-width: 767px) {
  #booking_show {
    width: 90%;
  }
}

#booking_show .container-fluid {
  width: 100%;
}

#booking_show h2 {
  font-family: PingFangTC-Medium;
  font-size: 2em;
  color: #635146;
  text-align: center;
  margin-bottom: 7%;
  margin-top: 4%;
}

#booking_show .col-sm-6.first {
  padding-left: 4%;
}

#booking_show h3 {
  font-family: PingFangTC-Medium;
  font-size: 1.45em;
  color: #f99595;
  text-align: left;
}

#booking_show table {
  width: 100%;
}

#booking_show table tbody tr {
  height: 2.85em;
}

#booking_show td.item-left {
  font-family: PingFangTC-Regular;
  font-size: 1.15em;
  color: #635146;
  text-align: left;
}

#booking_show td.item-right {
  font-family: PingFangTC-Regular;
  font-size: 1.15em;
  color: #635146;
  text-align: left;
}

#booking_show .item-left-total {
  font-family: PingFangTC-Regular;
  font-size: 1.15em;
  color: #635146;
  text-align: left;
  border-top: 1px solid #e0e0e0;
}

#booking_show .item-right-total {
  font-family: PingFangTC-Regular;
  font-size: 1.15em;
  color: #635146;
  text-align: left;
  border-top: 1px solid #e0e0e0;
}

#booking_show .col-sm-6 table tr td {
  font-family: PingFangTC;
  font-weight: lighter;
  font-size: 1.15em;
  color: #030303;
  text-align: left;
  word-wrap: break-word;
}

#booking_show .td-totalprice {
  font-family:PingFangTC-Medium;
  font-size:24px;
  color:#f26565;
  line-height:24px;
  text-align:left;
  border-top: 1px solid #e0e0e0;
}

#booking_show .td-last {
  font-family:PingFangTC;
  font-weight: lighter;
  font-size:16px;
  color:#030303;
  line-height:24px;
  text-align:left;
  border-top: 1px solid #e0e0e0;
}

#booking_show .booking_show-button {
  margin-top: 50%;
  margin-left: 26%;
}

#booking_show .go-back a {
  display: inline-block;
  padding: .6em 2em;
  background: #b0a097;
  border-radius: 6px;
  width: 9em;
  height: 2.5em;
  color: #ffffff;
  text-align: center;
  font-size: 1.4em;
  text-decoration: none;
  float: left;
  margin-right: 5%;
  margin-bottom: 12%;
}

#booking_show .go-forward a {
  display: inline-block;
  padding: .6em 2em;
  background: #f26565;
  border-radius: 6px;
  width: 9em;
  height: 2.5em;
  color: #ffffff;
  text-align: center;
  font-size: 1.4em;
  text-decoration: none;
  float: left;
  margin-bottom: 12%;
}

@media (min-width: 319px) and (max-width: 767px) {
  #booking_user .booking_show-button {
    margin-top: 10%;
    margin-left: 26%;
  }

  #booking_show .go-back a {
    display: inline-block;
    padding: .6em 2em;
    background: #b0a097;
    border-radius: 6px;
    max-width: 71%;
    height: 2.5em;
    color: #ffffff;
    text-align: center;
    font-size: .3em;
    text-decoration: none;
    float: left;
    margin-right: 5%;
    margin-bottom: 12%;
  }

  #booking_show .go-forward a {
    display: inline-block;
    padding: .6em 2em;
    background: #f26565;
    border-radius: 6px;
    max-width: 71%;
    height: 2.5em;
    color: #ffffff;
    text-align: center;
    font-size: .3em;
    text-decoration: none;
    float: left;
    margin-bottom: 12%;
  }
}
















