#evaluation {
  width: 90%;
  margin: 0 auto;
}

#evaluation .container-fluid {
  width: 88%;
  height: 100%;
  margin: 0 auto;
}

#evaluation h2 {
  font-family:PingFangTC-Medium;
  font-size: 2em;
  color: #635146;
  text-align:center;
  margin-top: .4em;
  margin-bottom: 2.5em;
}

.customerssay .col-sm-6 img {
  vertical-align: middle;
  width: 80%;
  height: auto;
}

.customerssay h3 {
  font-family: PingFangTC;
  font-size: 1.4em;
  color: #f99595;
  text-align: left;
}

.customerssay p {
  font-family: PingFangTC;
  font-size: 1.3em;
  color: #030303;
  line-height: 27px;
  text-align: left;
  margin-top: 18%;
  margin-bottom: 8%;
}

.customerssay a {
  font-family: PingFangTC;
  font-size: 1.14em;
  color: #f26565;
  letter-spacing: -0.41px;
  text-align: center;
  padding: 0;
}

