.whatalphasay .container {
  width: 77%;
  height: 100%;
  margin-bottom: 90px;
}

#evaluation h2 {
  font-family:PingFangTC-Medium;
  font-size:28px;
  color:#635146;
  text-align:center;
  margin-top: 80px;
  margin-bottom: 70px;
}

.whatalphasay h3 {
  font-family:PingFangTC;
  font-size:20px;
  color:#f99595;
  text-align:left;
}

.whatalphasay p {
  font-family:PingFangTC;
  font-size:18px;
  color:#030303;
  line-height:27px;
  text-align:left;
  margin-top: 69px;
  margin-bottom: 30px;
}

.whatalphasay a {
  font-family:PingFangTC;
  font-size:17px;
  color:#f26565;
  letter-spacing:-0.41px;
  text-align:center;
  padding: 0;
}

