#evaluation {
  width: 1450px;
  margin: 0 auto;
}

#evaluation .container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

#evaluation h2 {
  font-family:PingFangTC-Medium;
  font-size:28px;
  color:#635146;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 70px;
}

.customerssay h3 {
  font-family:PingFangTC;
  font-size:20px;
  color:#f99595;
  text-align:left;
}

.customerssay p {
  font-family:PingFangTC;
  font-size:18px;
  color:#030303;
  line-height:27px;
  text-align:left;
  margin-top: 69px;
  margin-bottom: 30px;
}

.customerssay a {
  font-family:PingFangTC;
  font-size:17px;
  color:#f26565;
  letter-spacing:-0.41px;
  text-align:center;
  padding: 0;
}

