
  #log-in-unbusy {
    margin: 0 auto;
    width: 70%;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
  }

  #log-in-unbusy .container-fluid {
    width: 100%;
  }


  #log-in-unbusy h1 {
    font-family: PingFangTC-Medium;
    font-size: 2em;
    color: #635146;
    text-align: center;
    margin-top: 4%;
  }

  #log-in-unbusy p {
    font-family: PingFangTC-Regular;
    font-size: 1.15em;
    color: #030303;
    text-align: center;
    margin-bottom: 10%;
  }

  #log-in-unbusy .col-sm-6 {
    margin-bottom: 5%;
    width: 50%;
    text-align: center;
  }

  /* col-sm-6 left-side */
  .fblogin {
    display: inline-block;
    padding: 11px 0px;
    border-style: none;
    border-radius: 6px;
    background: #5b91dc;
    height: 3em;
    margin-top: 15%;
  }

  .fblogin a {
    padding: 11px 48px;
    text-decoration: none;
    font-family: PingFangTC;
    font-weight: lighter;
    font-size: 1.15em;
    color: #ffffff;
    text-align: center;
    text-shadow: none;
  }


  /* col-sm-6 right-side */
  #log-in-unbusy .field {
    text-align: left;
  }

  #log-in-unbusy label {
    font-family: PingFangTC;
    font-size: 1.15em;
    color: #b0a097;
    line-height: 1.5em;
    text-align: left;
  }

  #log-in-unbusy input#user_email {
    background: #ffffff;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    width: 58%;
    height: 2.7em;
  }

  #log-in-unbusy input#user_password {
    background: #ffffff;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    width: 58%;
    height: 2.7em;
  }

  .col-sm-6 .actions input {
    display: inline-block;
    padding: 8px 25px;
    background: #f26565;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    width: 8em;
    height: 2.7em;
    text-decoration: none;
    text-align: center;
    font-size: 1.15em;
  }

  #log-in-unbusy .actions {
    text-align: left;
    margin-top: 5%;
  }

  #log-in-unbusy .goregist {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }

  #log-in-unbusy .goregist a {
    padding-right: 1.8em;
    padding-left: 1.8em;
    font-family: PingFangTC;
    font-size: 1.2em;
    color: #f26565;
    text-align: center;
  }


@media (min-width: 319px) and (max-width: 767px) {
  #log-in-unbusy {
    width: 90%;
  }

  #log-in-unbusy h1 {
    font-size: 1.5em;
    margin-top: 10%;
  }

  #log-in-unbusy p {
    font-size: 1em;
  }

  #log-in-unbusy .col-sm-6 {
    width: 100%;
    margin-bottom: 10%;
    text-align: center;
  }

  #log-in-unbusy .fblogin a {
    font-size: .3em;
  }

  #log-in-unbusy label {
    width: 100%;
    text-align: left;
  }

  #log-in-unbusy input#user_email {
    width: 100%;
  }

  #log-in-unbusy input#user_password {
    width: 100%;
  }

  #log-in-unbusy .actions {
    margin-top: 10%;
    text-align: left;
  }

  #log-in-unbusy .goregist {
    margin: 0 auto;
    margin-bottom: 15%;
    text-align: center;
  }

  #log-in-unbusy .goregist a {
    font-size: 1em;
  }
}



