#sign-up-unbusy {
  margin: 0 auto;
  width: 46%;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

#sign-up-unbusy .container-fluid {
  width: 100%;
}

#sign-up-unbusy h2 {
  font-family: PingFangTC-Medium;
  font-size: 2em;
  color: #635146;
  text-align:center;
  margin-top: 5%;
  margin-bottom: 15%;
}

.field-singup {
  text-align: center;
}


#sign-up-unbusy label {
  font-family: PingFangTC;
  font-size: 1.15em;
  color: #b0a097;
  text-align: right;
}

#sign-up-unbusy .field-singup .field-email {
  margin-bottom: 4%;
  margin-left: 3.6%;
}

#sign-up-unbusy input#user_email {
  background: #ffffff;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  width: 60em;
  max-width: 65%;
  height: 2.6em;
}

#sign-up-unbusy .field-singup .field-password {
  margin-bottom: 4%;
  margin-left: 6%;
}

#sign-up-unbusy input#user_password {
  background:#ffffff;
  border:1px solid #b6b6b6;
  border-radius:5px;
  width: 60em;
  max-width: 66.7%;
  height: 2.6em;
}

#sign-up-unbusy input#user_password_confirmation {
  background:#ffffff;
  border:1px solid #b6b6b6;
  border-radius:5px;
  width: 60em;
  max-width: 62.7%;
  height: 2.6em;
}

#sign-up-unbusy .actions {
  width: 100%;
  text-align: center;
}

#sign-up-unbusy .actions input {
  display: inline-block;
  padding: 8px 25px;
  background: #f26565;
  color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  width: 128px;
  height: 42px;
  text-decoration: none;
  text-align: center;
  font-size: 1.15em;
  margin-top: 10%;
  margin-bottom: 15%;
}

@media (min-width: 319px) and (max-width: 767px) {
  #sign-up-unbusy {
    width: 90%;
  }

  #sign-up-unbusy h2 {
    font-size: 1.5em;
  }

  #sign-up-unbusy label {
    display: block;
    font-size: 1em;
    text-align: left;
  }

  #sign-up-unbusy .field-singup .field-email {
    margin-left: 6%;
  }

  #sign-up-unbusy input#user_email {
    max-width: 100%;
    display: block;
  }

  #sign-up-unbusy input#user_password {
    max-width: 100%;
    display: block;
  }

  #sign-up-unbusy .field-passwordagain {
    margin-left: 6%;
  }

  #sign-up-unbusy input#user_password_confirmation {
    max-width: 100%;
    display: block;
  }
}
















