#booking_user {
  margin: 0 auto;
  width: 68%;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

#booking_user .container-fluid {
  width: 100%
}

#booking_user .col-xs-12 {
  width: 100%;
}

#booking_user p {
  font-family: PingFangTC-Medium;
  text-align: center;
  font-size: 2em;
  color: #635146;
  margin-top: 6%;
}

#booking_user table.fill-form {
  width: 90%;
  margin-left: 9%;
  margin-top: 5%;
}

#booking_user label {
  max-width: 100%;
  margin-bottom: 3%;
  margin-right: 7.7%;
  font-weight: normal;
  font-size: 1.15em;
  color: #635146;
  float: right;
}

#booking_user input {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 3%;
  font-weight: bold;
  font-size: 1.15em;
  font-weight: 400;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  width: 63.6%;
  height: 2.35em;
  float: left;
}

@media (min-width: 319px) and (max-width: 500px) {
  #booking_user p {
    font-size: 1.2em;
  }
  #booking_user table.fill-form {
    margin-left: 3%;
  }

  #booking_user label {
    font-size: .5em;
  }

  #booking_user input {
    width: 100%;
    font-size: .5em;
  }
}

.booking_user-button {
  width: 100%;
  margin-top: 7%;
  margin-left: 26%;
}

#booking_user input.back {
  width: 23%;
  height: 2.55em;
  background: #b0a097;
  border-radius: 6px;
  font-family: PingFangTC-Regular;
  font-size: 1.4em;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  margin-right: 4%;
  margin-bottom: 15%;
}

#booking_user input.forward {
  width: 23%;
  height: 2.55em;
  background: #f26565;
  border-radius: 6px;
  font-family: PingFangTC-Regular;
  font-size: 1.4em;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 319px) and (max-width: 500px) {
  .booking_user-button {
    margin-left: 19%;
  }
  #booking_user input.back {
    width: 30%;
    font-size: .3em;
  }

  #booking_user input.forward {
    width: 30%;
    font-size: .3em;
  }
}













