#booking_user{
  padding-top: 40px;
  height: 580px ;
  margin: 0 auto;
  text-align: center;

  .username{
    margin: auto 0 auto 24px ;
  }
  .contact_email{
  	margin: auto 23px auto 0;
  }
  .remark{
  	margin: auto 0 auto 51px;
  }
}

