#booking_user{
  height: 555px ;
  margin: 0 auto;
  text-align: center;
  
  .username{
    margin: auto 0 auto 24px ;
  }
  .contact_email{
  	margin: auto 23px auto 0;
  }
  .remark{
  	margin: auto 0 auto 51px;
  }
}

