/* index-top */

#index-top .container-fluid {
  background-image: image-url("header-background.png");
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 43em;
}

#index-top ul.nav.navbar-nav.navbar-right {
  float: right !important;
  margin-top: 1%;
  width: 45em;
  max-width: 100%;
}

#index-top ul.nav.navbar-nav.navbar-right li {
  margin-top: 10px;
}

#index-top ul.nav.navbar-nav.navbar-right li a {
  padding-left: 28px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: #3b2a1f;
  text-shadow: 0px 1px 3px rgba(255,255,255,0.5);
  background: none;
}

#index-top ul.nav.navbar-nav.navbar-right a.header_booking{
  display: inline-block;
  margin-top: 4%;
  padding: 0.5em 1.5em;
  background: #f26565;
  color: #ffffff;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
}

#index-top button.navbar-toggle {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 3%;
  margin-left: 3%;
  background-color: rgba(255, 255, 255, 0.15);
  background-image: none;
  border: 1px solid #f99595;
  border-radius: 4px;
}

#index-top span.icon-bar {
  background-color: #F99595;
}

#index-top .content {
  width: 35.7em;
  height: 17.8em;
  position: absolute;
  top: 15em;
  left: 12%;
}

#index-top .col-xs-12 .vision p {
  font-family:STHeitiTC;
  font-size: 1.43em;
  color:#3b2a1f;
  letter-spacing:1px;
  line-height:30px;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(255,255,255,0.50);
  position: absolute;
  top: 4em;
}

#index-top .col-xs-12 .service {
  position: absolute;
  top: 13em;
  width: 30em;
}

#index-top .col-xs-12 .service a.booking {
  background: #f26565;
  border-radius: 6px;
  padding: 15px 52px;
  line-height:20px;
  text-align:center;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

#index-top .col-xs-12 .service a.download {
  background: #383229;
  border-radius: 6px;
  padding: 15px 28px 15px 39px;
  margin-left: 31px;
  line-height:20px;
  text-align:center;
  font-size: 20px;
  color:#ffffff;
  text-decoration: none;
}


/* specialty */

#specialty {
  background-image: image-url("specialty-layer");
  background-size: cover;
  width: 100%;
  display: block;
}

#specialty .container-fluid {
  width: 100%;
  margin: 0 auto;
}

#specialty h2 {
  font-family: PingFangTC;
  padding-top: 6%;
  font-size: 2.57em;
  color: #f26565;
  text-align: center;
}



#specialty .col-sm-6 img.image {
  width: 80%;
}


#specialty .col-sm-6 .introduction {
  margin-top: 2%;
}

#specialty .introduction h3 {
  font-family: "PingFang TC", "Lantinghei TC", "Hiragino Sans", "Microsoft Sans Serif","Open Sans", "Helvetica Neue", "Verdana", sans-serif;
  font-size: 1.7em;
  color: #f26565;
  line-height: 1.6em;
  text-align: left;
}

#specialty .introduction p {
  width: 61%;
  font-size: 1.43em;
  color: #635146;
  line-height: 1.6em;
  text-align: left;
}


/* flow */

#flow {
  width: 100%;
  display: block;
  background-color: #ffffff;
}

#flow .container-fluid {
  width: 100%;
  margin: 0 auto;
}

#flow h2 {
  font-family: PingFangTC;
  padding-top: 6%;
  margin-bottom: 7%;
  font-size: 2.57em;
  color: #f26565;
  text-align: center;
}

#flow .col-md-3 img {
  width: 56%;
  margin: 0 auto;
  margin-left: 21%;
}

#flow .col-md-3 h3 {
  font-family: "PingFang TC", "Lantinghei TC", "Hiragino Sans", "Microsoft Sans Serif","Open Sans", "Helvetica Neue", "Verdana", sans-serif;
  font-size: 1.7em;
  color: #f26565;
  text-align: center;
  margin-top: 20%;
}

#flow .col-md-3 p {
  font-family: STHeitiTC-Light;
  color:#635146;
  font-size: 1.44em;
  line-height: 1.6em;
  text-align:center;
  width: 92%;
  margin: 0 auto;
  margin-bottom: 20%;
}


/* story */

#story {
  background-image: image-url("story-layer");
  background-size: cover;
  width: 100%;
  display: block;
  margin: 0 auto;
}

#story .container-fluid {
  display: block;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}



#story .slogan h2 {
  font-family:SourceHanSansTC;
  font-size: 2.2em;
  color: #a08373;
  letter-spacing: .05em;
  text-align: center;
  margin-top: 7.7em;
}

#story .slogan-link {
  margin: 0 auto;
  margin-top: 4.3em;
  text-align: center;
}

#story a {
  display: inline-block; /*按鈕要有高度跟寬度*/
  padding: 15px 52px;
  width: 9.4em;
  height: 2.55em;
  background: #f26565;
  color: #ffffff;
  border-radius: 6px;
  text-decoration: none; /*拿掉超連結的底線*/
  text-align: center;
  font-size: 1.4em;
}

/* footer */
@media (min-width: 768px) and (max-width: 1920px) {
  #footer {
    width: 100%;
    background-color: #635146;
    padding: 1% 0;
    margin-top: 10%;
  }

  #footer .please p {
    color: #fff6ed;
    font-size: .93em;
    float: left;
    text-align: left;
    margin-left: 15%;
  }

  #footer .copyright p {
    width: 31%;
    font-size: .93em;
    color: #fff6ed;
    float: right;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  #footer {
    width: 100%;
    background-color: #635146;
    padding: 1% 0;
    margin-top: 10%;
  }

  #footer .please p {
    color: #fff6ed;
    font-size: .93em;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }

  #footer .copyright p {
    width: 100%;
    font-size: .93em;
    color: #fff6ed;
    float: right;
    text-align: center;
  }
}


@media (max-width: 319px) {
  #footer {
    width: 100%;
    background-color: #635146;
    padding: 1% 0;
    margin-top: 15%;
  }

  #footer .please p {
    width: 100%;
    text-align: center;
    float: left;
    font-size: .93em;
    color: #fff6ed;
  }

  #footer .copyright p {
    width: 100%;
    text-align: center;
    float: right;
    font-size: .93em;
    color: #fff6ed;
  }
}








