<!DOCTYPE html>
<html>
<head>
  <title>Unbusy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>




<%= yield %>

 <div id="footer">

   <div class="please">
    <p>和我們一起支持社會，讓世界變得更好</p>
   </div>

   <div id="copyright">
    <p >&copy; 2016 Unbusy 不忙按摩</p>
   </div>

 </div>



</body>
</html>
